[package]
authors = ['Substrate DevHub <https://github.com/substrate-developer-hub>']
description = 'FRAME pallet template for defining custom runtime logic.'
edition = '2018'
homepage = 'https://www.cere.network/'
license = 'Unlicense'
name = 'pallet-cere-ddc'
repository = 'https://github.com/Cerebellum-Network/ddc-pallet'
version = '4.1.0'
readme = 'README.md'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
frame-support = { version = "3.0.0", default-features = false, path = "../support" }
frame-system = { version = "3.0.0", default-features = false, path = "../system" }
sp-std = { version = "3.0.0", default-features = false, path = "../../primitives/std" }
sp-runtime = { version = "3.0.0", default-features = false, path = "../../primitives/runtime" }
sp-io = { version = "3.0.0", default-features = false, path = "../../primitives/io" }

[dev-dependencies]
sp-core = { version = "3.0.0", path = "../../primitives/core" }
serde = { version = "1.0.101" }

[features]
default = ['std']
std = [
    'codec/std',
    'sp-io/std',
    'sp-std/std',
    'sp-runtime/std',
    'frame-support/std',
    'frame-system/std',
]
